* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    height: 90%;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    border: 2px solid black;
    grid-row: 1;
}

.main-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    grid-row: 2;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
	border: 2px solid black;
	padding: 10px;
}

.left-top, .left-bottom, .right-top {
    border: 2px solid black;
    height: 20%;
}

.left-middle {
    display: flex;
    gap: 10px;
    height: 40%;
}

.left-lower, .right-lower {
    display: flex;
    gap: 10px;
	flex: 1;
}

.left-middle .box, .left-lower .box, .right-lower .box {
    border: 2px solid black;
    flex: 1;
}

.right-section {
    flex: 1;
}

.right-top {
    height: 60%;
}

.right-lower {
    display: flex;
    flex: 1;
    gap: 10px;
}